@{
    ViewData["Title"] = "E-Posta Adresleri";
    User user = ViewBag.User;
}
<div class="row mt-5">
    <h4>@user.FirstName @user.LastName E-Posta Adresi Listesi</h4>
</div>
<div class="row">
    <div class="col-12">
        <table class="table dataTable table-bordered table-striped" id="emailTable">
            <thead>
                <tr>
                    <th scope="col">E-Posta Adresi</th>
                    <th scope="col">E-Posta Tipi</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/js/email-address.js"></script>
    <script type="text/javascript">
        $(function () {
            getEmailTable(@user.Id)
        });
    </script>
}