@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Rehber Uygulamasına Hoş Geldiniz.</h1>
    <p>Bu sistem .Net Core 3.1 ile Mvc mimarisinde geliştilmiştir.</p>
</div>
